<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Node.js</a>
    <button type="button" class="btn btn-link btn-entrance" data-toggle="modal" data-target="#myModal">
        Вход
    </button>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                    <label for="inputEmail" class="sr-only">Логин</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Логин" required autofocus>
                    <label for="inputPassword" class="sr-only">Пароль</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
                    <div class="custom-control custom-checkbox form-entrance-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" value="remember-me">
                        <label class="custom-control-label" for="customCheck1">Запомнить</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                    <div class="text-center modal-text-registration">Если у вас нет аккаунта, вам необходимо <a href="/registration">зарегистрироваться</a></div>
                </form>
            </div>
        </div>
    </div>
</div>