<!doctype html>
<html lang="en">
<head>
  <% include layouts/head.ejs %>
</head>
<body>
<% include layouts/navbar.ejs %>
<div class="container-fluid">
    <div class="row">
        <% include layouts/sidebar.ejs %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <!-- content -->
            <h1>Отправка формы</h1>
            <div class="text-login">
                <p>Для того, что бы использовать чат, вам необходимо
                    <button type="button" class="btn-login" data-toggle="modal" data-target="#myModal">
                        войти
                    </button>
                </p>
            </div>


        </main>
    </div>
</div>
<% include layouts/footer.ejs %>
</body>
</html>
