<nav class="col-md-2 d-none d-md-block bg-light sidebar my-sidebar">
    <div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/">
                <span data-feather="home"></span>
                Главная <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">
                <span data-feather="file"></span>
                О нас
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/test">
                <span data-feather="shopping-cart"></span>
                Тест
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/new/15">
                <span data-feather="layers"></span>
                Новость №15
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/new/15">
                <span data-feather="users"></span>
                Новость №15
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/forms">
                <span data-feather="bar-chart-2"></span>
                Отправка формы
            </a>
        </li>
    </ul>
</div>
</nav>